@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&display=swap');

:root {
	--container-width: 1270px;
	--container-padding: 15px;
	--secondary:  rgba(15, 31, 28, 0.5);
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: #f6f6f6;
	color:  #0f1f1c;
}

.none {
	display: none !important;
}

.container {
	max-width: var(--container-width);
	padding: 0 var(--container-padding);
	margin: 0 auto;
}
.container-right{
	padding-left: calc( (100% - var(--container-width))/2 + var(--container-padding) );
}

.block{ 
	height: 200px;
	background-color: darkseagreen;
 }
 .header{
 	overflow: hidden;
 	position: relative;
 	min-height: 940px;
 	padding-top: 44px ;
 	background: linear-gradient(132.05deg, #428E5F -17.38%, #112120 78.4%); 
 	color:  #fff;
 }
 .header a{
 	color: #fff;
 }
 .header::after{
 	content: "";
 	position: absolute;
 	left: 0;
 	bottom: 0;
 	width: 100%;
 	height: 96px;
 	background-image: url("./../img/header-bottom.svg");
 	background-size: 100%;

 }
 .header__top{
 	margin-bottom: 86px;
 }
 .header_row{
 	display: flex;
 }
 .header__content{
 	position: relative;
 	z-index: 1;

 	max-width: 600px ;
 }
 .header_img{
 	position: relative;
 	flex-grow: 1;
 }
 .header_img img{
 	position: absolute;
 	top: -181px;
 	right: -87px;
  	max-width: unset;
 	width: 894px;
 	height: 940px;
 }

 .nav{
 	display: flex;
 	justify-content: space-between;
 	column-gap: 80px;
 	align-items: center;
 }
 .nav_list{
 	display: flex;
 	column-gap: 80px;
 	font-size: 15px;
 	font-weight: 500;
 }
 .nav_list a{
 	position: relative;
 }
  
 .nav_list a:hover::after  { 

 	content: "";
 	left: 0;
 	right: 0;

 	bottom: -6px;
 	position: absolute;
 	display: block;
 	
 	height: 4px;
 	background-color: #c4c4c4;
 	border-radius: 50px;
 }

.logo{
	font-size: 20px;
	font-weight: 700px;
}
.nav_login{
	display: flex;
	align-items: center;
 	column-gap: 25px;
 	font-size: 15px;
 	font-weight: 500;
}

.btn{
	display: inline-block;
	padding: 13px 44px;
	font-size: 15px;
 	font-weight: 500;
	background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), #FFFFFF;
	border-radius: 100px;
}
.btn:hover{
	color: #C7FAC0;
	transition: color 0.2s ease-in;

}
.btn:active{
	position: relative;
	top: 1px;
}

.header_badge{
	margin-bottom: 7px;
	display: inline-block;
	padding: 11px 30px;
	font-size: 15px;
	font-weight: 500;

	background: rgba(255, 255, 255, 0.25);
	border-radius: 15px;
}
.header_title{
	margin-bottom: 30px;
	font-size: 55px;
	font-weight: 400;
}
.header_text{
	max-width: 530px;
	margin-bottom: 68px;
	font-size: 25px;
	font-weight: 700;
	color: rgba(255, 255, 255, 0.5);
}
.header_btn	{
	display: inline-block;
	padding: 27px 48px;
	background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
	border-radius: 27px;
	font-size: 25px;
	font-weight: 600;
}
.header_btn:hover{
	color: #C7FAC0;
	transition: color 0.2s ease-in;

}
.header_btn:active{
	position: relative;
	top: 1px;
}


.destinations{
	overflow-x: hidden;
	padding: 96px 0 100px;
}
.destinations_row{
	display: flex;
	column-gap: 50px;
}
.destinations_content{ 
	max-width: 456px;
 }
.destinations_slider{
	width: 1110px;
	flex-shrink: 0 ;
}

.destinations_title{
	margin-bottom: 15px;
	font-size: 55px;
	font-weight: 600;
}
.destinations_title span{
	font-size: 30px;
}
.destinations_text{
	margin-bottom: 60px;
	font-size: 25px;
	font-weight: 500;
	color: var(--secondary);
}

.btn{
	display: inline-block;
	padding: 25px 45px;
	background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
	border-radius: 27px;
	font-size: 20px;
	font-weight: 600;
	color: #fff;
}
.btn:hover{
	color: #C7FAC0;
	transition: color 0.2s ease-in;

}
.btn:active{
	position: relative;
	top: 1px;
}

.slider{
	height: 456px;
	position: relative;
}
.slider_item{
	margin-top: 27px;
	width: 335px;
	height: 402px;
	object-fit: cover;
	border-radius: 35px;
	transition: 0.2s ease-in;
}
.slider .center .slider_item{
	margin-top: 0;
	width: 380px;
	height: 456px;
}
.slider_btn{
	position: absolute;
	top: 50%;
	z-index: 9;
	transform: translateY(-50%);
	display: block;
	width: 68px;
	height: 68px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), #8B8B8B;
}

.slider_btn.slider_btn--prev{
	left: -27px;
	padding-left: 26px;
	justify-content: flex-start;
}
.slider_btn.slider_btn--next{
	right: -27px;
	padding-right: 26px;
	justify-content: flex-end;
}

.customers{
	padding: 100px 0 133px;
}
.customers_row{
	display: flex;
	column-gap: 68px;
}
.customers_img{
	max-width: 478px;
}
.customers_img img{
	border-radius: 60px;
}

.customers_title{
	margin-bottom: 35px;
	font-size: 45px;
	font-weight: 500;
}
.review{
	max-width: 490px;
}
.review_client{

	margin-bottom: 60px;
	display: flex;
	align-items: center;
	column-gap: 33px;

}
.review_text{
	margin-bottom: 30px;
	color: var(--secondary );
	font-size: 22px;
	font-weight: 500;
}
.review_client_avatar{
	overflow: hidden;
	width: 134px;
	height: 134px;
	border-radius: 50%;
	background-color: #FF794E;
}
.review_client_desc_name{
	margin-bottom: 10px;
	font-size: 33px;
	font-weight: 500;
}
.review_client_desc_country{
	font-size: 25px;
	color: var(--secondary);
}

.cta{
	padding: 100px 0;
}
.cta_plate{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	border-radius: 60px;
	min-height: 580px;
	padding: 40px 15px;
}
.cta_plate::before, 
.cta_plate::after{
	position: absolute;
	width: 63px;
	height: 83px;
	content: "";
}
.cta_plate::before{
	left: 74px;
	bottom: 56px;
	background-image: url("./../img/cta/cta-el-01.svg");

}
.cta_plate::after{
	top: 74px;
	right: 80px;
	background-image: url("./../img/cta/cta-el-02.svg");
}
.cta_title{
	text-align: center;
	font-size: 45px;
	font-weight: 500;
	margin-bottom: 30px;
}
.cta_text{
	margin-bottom: 60px;
	font-size: 30px;
	color: var(--secondary);
}
.subscribe{
	padding: 35px 0 50px;

}
.subscribe_content{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center ;
}
.subscribe_title{
	margin-bottom: 60px;
	max-width: 494px;
	font-size: 55px;
	font-weight: 600;
} 
.subscribe_form{
	padding: 12px 15px 12px 46px;
	border-radius: 35px;
	background-color: #fff;
	display: flex;
	column-gap: 20px;
}
.subscribe_form_input{
	min-width: 500px;
	font-size: 24px;
	font-weight: 500;
	
}
.subscribe_form_input:placeholder{
	color: var(--secondary);
}

.subscribe_form_btn{
	display: inline-block;
	padding: 36px 86px;
	font-size: 25px;
 	font-weight: 600;
	background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), #FFFFFF;
	border-radius: 35px;
	color: #fff;
}
.subscribe_form_btn:hover{
	color: #C7FAC0;
	transition: color 0.2s ease-in;

}
.subscribe_form_btn:active{
	position: relative;
	top: 1px;
}


